# Benchmark for vibration of a string

Assumptions made:
- string is treated as perfectly flexible (no stiffness)
- fixed-fixed condition so that reflections are perfectly inverted

Goal: simulate the kink resulting from plucking the string

Constituitive equation (wave equation): $\frac{\partial^2 y}{\partial t^2} = c^2 \frac{\partial^2 y}{\partial x^2}$

where,
$
y = displacement\:of\:the\:string\:from\:equilibirum \\
x = position\:along\:the\:string \\
t = time \\
c = \sqrt{\frac{T}{\mu}} = wave\:speed \\
T = tension \\
\mu = mass\:per\:unit\:length \\
$

Citation(s):
$@article\:{giordano1998physics,
  title={The physics of vibrating strings},
  author={Giordano, Nicholas and Gould, Harvey and Tobochnik, Jan}, 
  journal={Computers in Physics}, 
  volume={12},
  number={2}, 
  pages={138--145}, 
  year={1998},
  publisher={American Institute of Physics}
}$

In [1]:
using CombinatorialSpaces
using CombinatorialSpaces.DiscreteExteriorCalculus: inv_hodge_star
using DifferentialEquations
using CairoMakie
using Catlab.Graphs
using Catlab.Graphics

# dual subdivision 
function dual(s::EmbeddedDeltaSet2D{O, P}) where {O, P}
  sd = EmbeddedDeltaDualComplex2D{O, eltype(P), P}(s)
  subdivide_duals!(sd, Circumcenter())
  sd
end

dual (generic function with 1 method)

## Define and plot mesh and boundary conditions

In [40]:
# Define mesh
s = EmbeddedDeltaSet1D("meshes/string.obj")
sd = dual(s)

# Get boundary masks for BCs
boundary_e = findall(x -> x != 0, boundary(Val{2},s) * fill(1,ntriangles(s))) # mesh edges
boundary_v = unique(vcat(s[boundary_e,:src],s[boundary_e,:tgt])) # mesh edge vertices

# Define vertices for BC application 
left = 1
right = 13

# Plot mesh
fig, ax, ob = mesh(s)
wireframe!(s)
ax.aspect = AxisAspect(10/1)
fig

LoadError: MethodError: no method matching (Catlab.CSetDataStructures.AttributedCSet{Catlab.Theories.CatDesc{(:V, :E), (:src, :tgt), (2, 2), (1, 1)}, Catlab.Theories.AttrDesc{Catlab.Theories.CatDesc{(:V, :E), (:src, :tgt), (2, 2), (1, 1)}, (:Orientation, :Point), (:edge_orientation, :point), (2, 1), (1, 2)}, Tuple{Orientation, Point}, (:src, :tgt), (), Tables, Indices} where {Orientation, Point, Tables<:NamedTuple, Indices<:NamedTuple})(::String)
Closest candidates are:
  (::Type{T})(::Catlab.CSetDataStructures.AttributedCSet, ::Catlab.CategoricalAlgebra.DataMigration.Functor) where T<:Catlab.CSetDataStructures.AbstractAttributedCSet at C:\Users\mgatlin3\.julia\packages\Catlab\5eZgn\src\categorical_algebra\DataMigration.jl:127
  (::Type{T})(::Catlab.CSetDataStructures.AttributedCSet, ::AbstractDict, ::AbstractDict) where T<:Catlab.CSetDataStructures.AbstractAttributedCSet at C:\Users\mgatlin3\.julia\packages\Catlab\5eZgn\src\categorical_algebra\DataMigration.jl:122
  (::Type{T})(::Int64) where T<:(Catlab.CSetDataStructures.AbstractAttributedCSet{Catlab.Theories.CatDesc{(:V, :E), (:src, :tgt), (2, 2), (1, 1)}, AD, Ts} where {AD<:(Catlab.Theories.AttrDesc{Catlab.Theories.CatDesc{(:V, :E), (:src, :tgt), (2, 2), (1, 1)}, Data, Attr, ADom, ACodom} where {Data, Attr, ADom, ACodom}), Ts<:Tuple}) at C:\Users\mgatlin3\.julia\packages\Catlab\5eZgn\src\graphs\BasicGraphs.jl:45

In [37]:
s
sd

ACSet with elements V = 1:13, E = 1:24, Tri = 1:12, DualV = 1:49, DualE = 1:120, DualTri = 1:72
┌────┬───────────────┬─────────────────────────┐
│  V │ vertex_center │                   point │
├────┼───────────────┼─────────────────────────┤
│  1 │             1 │  Float32[0.0, 0.0, 0.0] │
│  2 │             2 │  Float32[0.1, 0.0, 0.0] │
│  3 │             3 │ Float32[0.15, 0.0, 0.0] │
│  4 │             4 │  Float32[0.2, 0.0, 0.0] │
│  5 │             5 │ Float32[0.25, 0.0, 0.0] │
│  6 │             6 │  Float32[0.3, 0.0, 0.0] │
│  7 │             7 │ Float32[0.35, 0.0, 0.0] │
│  8 │             8 │  Float32[0.4, 0.0, 0.0] │
│  9 │             9 │ Float32[0.45, 0.0, 0.0] │
│ 10 │            10 │  Float32[0.5, 0.0, 0.0] │
│ 11 │            11 │ Float32[0.55, 0.0, 0.0] │
│ 12 │            12 │  Float32[0.6, 0.0, 0.0] │
│ 13 │            13 │ Float32[0.65, 0.0, 0.0] │
└────┴───────────────┴─────────────────────────┘
┌────┬─────┬─────┬─────────────┬──────────────────┬────────┐
│  E │ src │ tgt │ edge_center │ edge_orientation │ length │
├────┼─────┼─────┼─────────────┼──────────────────┼────────┤
│  1 │   1 │   2 │          14 │            false │    0.1 │
│  2 │   2 │   2 │          15 │            false │    0.0 │
│  3 │   2 │   3 │          16 │            false │   0.05 │
│  4 │   3 │   3 │          17 │            false │    0.0 │
│  5 │   3 │   4 │          18 │            false │   0.05 │
│  6 │   4 │   4 │          19 │            false │    0.0 │
│  7 │   4 │   5 │          20 │            false │   0.05 │
│  8 │   5 │   5 │          21 │            false │    0.0 │
│  9 │   5 │   6 │          22 │            false │   0.05 │
│ 10 │   6 │   6 │          23 │            false │    0.0 │
│ 11 │   6 │   7 │          24 │            false │   0.05 │
│ 12 │   7 │   7 │          25 │            false │    0.0 │
│ 13 │   7 │   8 │          26 │            false │   0.05 │
│ 14 │   8 │   8 │          27 │            false │    0.0 │
│ 15 │   8 │   9 │          28 │            false │   0.05 │
│ 16 │   9 │   9 │          29 │            false │    0.0 │
│ 17 │   9 │  10 │          30 │            false │   0.05 │
│ 18 │  10 │  10 │          31 │            false │    0.0 │
│ 19 │  10 │  11 │          32 │            false │   0.05 │
│ 20 │  11 │  11 │          33 │            false │    0.0 │
│ 21 │  11 │  12 │          34 │            false │   0.05 │
│ 22 │  12 │  12 │          35 │            false │    0.0 │
│ 23 │  12 │  13 │          36 │            false │   0.05 │
│ 24 │  13 │  13 │          37 │            false │    0.0 │
└────┴─────┴─────┴─────────────┴──────────────────┴────────┘
┌─────┬─────┬─────┬─────┬────────────┬─────────────────┬──────┐
│ Tri │ ∂e0 │ ∂e1 │ ∂e2 │ tri_center │ tri_orientation │ area │
├─────┼─────┼─────┼─────┼────────────┼─────────────────┼──────┤
│   1 │   2 │   1 │   1 │         38 │            true │  0.0 │
│   2 │   4 │   3 │   3 │         39 │            true │  0.0 │
│   3 │   6 │   5 │   5 │         40 │            true │  0.0 │
│   4 │   8 │   7 │   7 │         41 │            true │  0.0 │
│   5 │  10 │   9 │   9 │         42 │            true │  0.0 │
│   6 │  12 │  11 │  11 │         43 │            true │  0.0 │
│   7 │  14 │  13 │  13 │         44 │            true │  0.0 │
│   8 │  16 │  15 │  15 │         45 │            true │  0.0 │
│   9 │  18 │  17 │  17 │         46 │            true │  0.0 │
│  10 │  20 │  19 │  19 │         47 │            true │  0.0 │
│  11 │  22 │  21 │  21 │         48 │            true │  0.0 │
│  12 │  24 │  23 │  23 │         49 │            true │  0.0 │
└─────┴─────┴─────┴─────┴────────────┴─────────────────┴──────┘
┌───────┬──────────────────────────┐
│ DualV │               dual_point │
├───────┼──────────────────────────┤
│     1 │   Float32[0.0, 0.0, 0.0] │
│     2 │   Float32[0.1, 0.0, 0.0] │
│     3 │  Float32[0.15, 0.0, 0.0] │
│     4 │   Float32[0.2, 0.0, 0.0] │
│     5 │  Float32[0.25, 0.0, 0.0] │
│     6 │   Float32[0.3, 0.0, 0.0] │
│     7 │  Float32[0.35, 0.0, 0.0] │
│     8 │   Float32[0.4, 0.0, 0.0] │
│     9 │  Float32[0.45, 0.0, 0.0] │
│    10 │   Float32[0.5, 0.0, 0.0] │
│    11 │  Float32[0.55, 0.0, 0.0] │
│    12 │   Float32[0.6, 0.0, 0.0] │
│    13 │  Float32[0.65, 0.0, 0.0] │
│    14 │  Float32[0.05, 0.0, 0.0] │
│    15 │   Float32[NaN, NaN, NaN] │
│    16 │ Float32[0.125, 0.0, 0.0] │
│    17 │   Float32[NaN, NaN, NaN] │
│    18 │ Float32[0.175, 0.0, 0.0] │
│    19 │   Float32[NaN, NaN, NaN] │
│    20 │ Float32[0.225, 0.0, 0.0] │
│    21 │   Float32[NaN, NaN, NaN] │
│    22 │ Float32[0.275, 0.0, 0.0] │
│   ⋮   │            ⋮             │
└───────┴──────────────────────────┘
                     27 rows omitted
┌───────┬───────┬───────┬────────────────────┬─────────────┐
│ DualE │ D_∂v0 │ D_∂v1 │ D_edge_orientation │ dual_length │
├───────┼───────┼───────┼────────────────────┼─────────────┤
│     1 │    14 │     2 │               true │        0.05 │
│     2 │    15 │     2 │               true │         NaN │
│     3 │    16 │     3 │               true │       0.025 │
│     4 │    17 │     3 │               true │         NaN │
│     5 │    18 │     4 │               true │       0.025 │
│     6 │    19 │     4 │               true │         NaN │
│     7 │    20 │     5 │               true │       0.025 │
│     8 │    21 │     5 │               true │         NaN │
│     9 │    22 │     6 │               true │       0.025 │
│    10 │    23 │     6 │               true │         NaN │
│    11 │    24 │     7 │               true │       0.025 │
│    12 │    25 │     7 │               true │         NaN │
│    13 │    26 │     8 │               true │       0.025 │
│    14 │    27 │     8 │               true │         NaN │
│    15 │    28 │     9 │               true │       0.025 │
│    16 │    29 │     9 │               true │         NaN │
│    17 │    30 │    10 │               true │       0.025 │
│    18 │    31 │    10 │               true │         NaN │
│    19 │    32 │    11 │               true │       0.025 │
│    20 │    33 │    11 │               true │         NaN │
│    21 │    34 │    12 │               true │       0.025 │
│    22 │    35 │    12 │               true │         NaN │
│   ⋮   │   ⋮   │   ⋮   │         ⋮          │      ⋮      │
└───────┴───────┴───────┴────────────────────┴─────────────┘
                                             98 rows omitted
┌─────────┬───────┬───────┬───────┬───────────────────┬───────────┐
│ DualTri │ D_∂e0 │ D_∂e1 │ D_∂e2 │ D_tri_orientation │ dual_area │
├─────────┼───────┼───────┼───────┼───────────────────┼───────────┤
│       1 │    61 │    85 │    25 │             false │       NaN │
│       2 │    62 │    86 │    27 │             false │       NaN │
│       3 │    63 │    87 │    29 │             false │       NaN │
│       4 │    64 │    88 │    31 │             false │       NaN │
│       5 │    65 │    89 │    33 │             false │       NaN │
│       6 │    66 │    90 │    35 │             false │       NaN │
│       7 │    67 │    91 │    37 │             false │       NaN │
│       8 │    68 │    92 │    39 │             false │       NaN │
│       9 │    69 │    93 │    41 │             false │       NaN │
│      10 │    70 │    94 │    43 │             false │       NaN │
│      11 │    71 │    95 │    45 │             false │       NaN │
│      12 │    72 │    96 │    47 │             false │       NaN │
│      13 │    73 │    85 │    25 │              true │       NaN │
│      14 │    74 │    86 │    27 │              true │       NaN │
│      15 │    75 │    87 │    29 │              true │       NaN │
│      16 │    76 │    88 │    31 │              true │       NaN │
│      17 │    77 │    89 │    33 │              true │       NaN │
│      18 │    78 │    90 │    35 │              true │       NaN │
│      19 │    79 │    91 │    37 │              true │       NaN │
│      20 │    80 │    92 │    39 │              true │       NaN │
│      21 │    81 │    93 │    41 │              true │       NaN │
│      22 │    82 │    94 │    43 │              true │       NaN │
│    ⋮    │   ⋮   │   ⋮   │   ⋮   │         ⋮         │     ⋮     │
└─────────┴───────┴───────┴───────┴───────────────────┴───────────┘
                                                    50 rows omitted

## Add the physics

In [36]:
# Define constants
c = 200 # wave speed, m/s

# Define primal forms
x = VForm([p[1] for p in s[:point]]); # x-location along string
# u = EForm([e for e in s)

# Initialize the laplacian operator
lapl = ∇²(Val{0}, sd)

# (-1 * p[1]) * (lapl * u) # laplacian

13×13 SparseArrays.SparseMatrixCSC{Float64, Int64} with 37 stored entries:
 NaN    NaN       ⋅      ⋅      ⋅   …     ⋅      ⋅      ⋅      ⋅      ⋅
 NaN    NaN    NaN       ⋅      ⋅         ⋅      ⋅      ⋅      ⋅      ⋅
    ⋅   NaN    NaN    NaN       ⋅         ⋅      ⋅      ⋅      ⋅      ⋅
    ⋅      ⋅   NaN    NaN    NaN          ⋅      ⋅      ⋅      ⋅      ⋅
    ⋅      ⋅      ⋅   NaN    NaN          ⋅      ⋅      ⋅      ⋅      ⋅
    ⋅      ⋅      ⋅      ⋅   NaN    …     ⋅      ⋅      ⋅      ⋅      ⋅
    ⋅      ⋅      ⋅      ⋅      ⋅         ⋅      ⋅      ⋅      ⋅      ⋅
    ⋅      ⋅      ⋅      ⋅      ⋅      NaN       ⋅      ⋅      ⋅      ⋅
    ⋅      ⋅      ⋅      ⋅      ⋅      NaN    NaN       ⋅      ⋅      ⋅
    ⋅      ⋅      ⋅      ⋅      ⋅      NaN    NaN    NaN       ⋅      ⋅
    ⋅      ⋅      ⋅      ⋅      ⋅   …     ⋅   NaN    NaN    NaN       ⋅
    ⋅      ⋅      ⋅      ⋅      ⋅         ⋅      ⋅   NaN    NaN    NaN
    ⋅      ⋅      ⋅      ⋅      ⋅         ⋅      ⋅      ⋅   NaN    NaN